<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>MY Stuff</title>
</head>
<body>
    <div class="container">
        <h2>{{user.screen_name}}</h2>
            <form action="{{url_for('search')}}">
                <label for="q">Go Ahead</label>
                <input type="text" name="q" placeholder="Curiosity killed the cat">
                <button type="submit" class="btn btn-success">Search it</button>
            </form>
    </div>
</body>
</html>