<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Findings </title>
</head>
<body>
    <div class="container">
        <style type="text/css" >
            #tweets{
                margin-top: 2rem;
                margin-bottom: 3rem;
                }
        </style>
        <ul class="list-group" id="tweets">


            {% for elem in content %}
            {% set css_class = "list-group-item-info" %}
                {% if elem['label']== "neg"  %}
                    {% set css_class = "list-group-item-danger" %}
                {% elif elem['label']== "pos" %}
                    {% set css_class ="list-group-item-success" %}
                {% endif %}


            <li class="list-group-item {{css_class}}" >{{elem['tweet']}}</li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>